.headerNav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.headerNav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 0.005em;
    margin-left: 36px;
}
.headerNav a:hover{
    color: aquamarine;
}